body {
    background-color: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgray;
    text-align: left;
    width: 370px;
    font-size: 18px;
}

h1{
    color: royalblue;
    background-color: silver;
    padding: 15px;
    width: 370px;
    text-align: center;
}

ul {
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   color: royalblue;
   width: 370px;
   font-size: 15px;
   border-image: auto;
}

img {
    border-radius: 20px;
    border: 5px solid royalblue;

}

.container {
    height: 500px;
}
